@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --container-color: #d9d9d9;
  --dark-grey-color: #a1a1a1;
  --grey-active-color: #c7c7c7;
  --user-name-color: #122ac0;
  --frog-green-color: #8ac540;
  --red-color: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

.header {
  height: 101px;
  background-color: var(--container-color);
}

.container__sidebar {
  height: 100%;
  width: 203px;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: var(--container-color);
}

.container__main .content {
  margin-left: 203px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__main .content__small {
  display: grid;
  align-items: start;
  margin-left: 203px;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.content__small-cont {
  margin-left: 0;
  background-color: var(--container-color);
  width: 487px;
  height: 61px;
}

.container__main .content__big {
  margin-top: 50px;
  margin-left: 203px;
}

.container__main .content__big-cont {
  background-color: var(--container-color);
  width: 1022px;
  height: 168px;
}

@media (max-width: 320px) {
  body {
    width: 320px;
  }

  .header {
    width: 100%;
    height: 68px;
  }

  .container {
    display: flex;
    align-items: start;
  }

  .container__sidebar {
    display: none;
  }

  .container__main .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .container__main .content__small {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0 0;
  }

  .container__main .content__small-cont {
    width: 300px;
    height: 61px;
    margin-left: 0;
    margin-top: 0;
  }

  .content__small-cont:nth-child(even) {
    display: none;
  }
}

@media (max-width: 320px) {
  .container__main .content__big {
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .container__main .content__big-cont {
    width: 300px;
    height: 132px;
    margin-top: 0;
  }
}

/* comment section */

.container__main .comment {
  margin-top: 50px;
  margin-left: 225px;
}
.comment__container {
  padding-top: 25px;
  width: 1025px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--dark-grey-color);
}

.comment__header {
  margin-left: -450px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.comment__header-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.comment__header-name h1 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

.comment__header-name:first-child {
  border-bottom: 2px solid black;
}

.comment__header-name .amount-comment {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-grey-color);
}

.comment__header-name h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grey-color);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--dark-grey-color);
}

@media (max-width: 320px) {
  .container__main .comment {
    width: 320px;

    margin: 0;
  }
  .comment__container {
    width: 100%;
  }
  .comment__header {
    margin-left: 0;
  }
  .comment__header {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 300px;
  }
  .comment__header-name h2,
  span {
    font-size: 14px;
    font-weight: 400;
  }
  .comment__header-name h1 {
    font-weight: 700;
  }
}

/* user input */
.comment__user,
.comment__other-cont {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.comment__user img,
.comment__reply img {
  height: fit-content;
  align-self: flex-start;
}

.comment__img {
  align-self: flex-start;
  border-radius: 50%;
  width: 61px;
  height: 61px;
}

.comment__other-cont {
  display: flex;
  flex-direction: column;
}

.comment__other-image {
  display: flex;
  flex-direction: row;
}

.comment__user-input,
.comment__other-input,
.comment__reply-input {
  margin-left: 25px;
}

.comment__user-name,
.comment__reply-name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comment__other-func-act {
  cursor: pointer;
}

.comment__other-name {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment__other-name span {
  font-size: 14px;
  color: var(--dark-grey-color);
}

.comment__user-name h1,
.comment__other-name h1,
.comment__reply-name h1 {
  color: var(--user-name-color);
  font-weight: 500;
}

.comment__user-name span {
  font-size: 14px;
  color: var(--dark-grey-color);
  font-style: italic;
  margin: 0 auto;
  margin-right: 25%;
}

.comment__user-space,
.comment__other-space {
  margin-top: 15px;
}

.comment__user-space input {
  text-overflow: ellipsis;
  padding: 22px 30px;
  width: 688px;
  border: 1px solid var(--container-color);
  border-radius: 5px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.1);
}

.comment__user-space input::placeholder {
  font-size: 18px;
}

@media (max-width: 320px) {
  .comment__other {
    width: 100%;
  }
  .comment__other-image {
    display: flex;
    flex-direction: column;
  }
  .comment__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 10px 0 10px;
    flex-direction: column;
  }
  .comment__user img,
  .comment__other-image img {
    width: 51px;
    height: 51px;
    align-items: center;
  }
  .comment__user-input {
    margin-left: 0;
  }
  .comment__user-space {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .comment__user-space input {
    width: 300px;
  }
  .comment__user-space input::placeholder {
    font-size: 14px;
  }
  .comment__user-space .comment__input-btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}

.disabled {
  margin-left: 15px;
  padding: 21px 45px;
  background-color: var(--container-color);
  color: #585858;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.abled {
  margin-left: 15px;
  padding: 21px 45px;
  background-color: var(--frog-green-color);
  color: #585858;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.comment__reply-user {
  display: none;
}

.comment__other-input {
  width: 880px;
}

.comment__other-space h2,
.comment__reply-space {
  line-height: 1.3;
}

.comment__reply-space {
  margin-top: 15px;
}

.comment__other-func,
.comment__reply-func {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.comment__other-func-act,
.comment__reply-func-act {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment__other-func-act svg,
.comment__reply-func-act img {
  cursor: pointer;
}

.user__image {
  border-radius: 50%;
  width: 61px;
  height: 61px;
}

.comment__other-func-act button,
.comment__reply-func-act button {
  border-radius: 50%;
  width: 20px;
  height: 23px;
  padding: 0;
  cursor: pointer;
  background-color: var(--container-color);
  font-weight: 500;
  font-size: 18px;
}

.comment__btn-plus {
  color: var(--frog-green-color);
}

.comment__btn-minus {
  color: var(--red-color);
}

@media (max-width: 320px) {
  .comment__other-cont {
    display: flex;
    flex-direction: column;
  }
  .comment__other-space h2 {
    font-size: 15px;
  }
  .comment__img {
    width: 45px;
    height: 45px;
  }
  .comment__other-input {
    width: 300px;
    margin-left: 5px;
  }
  .comment__other-space {
    margin: 5px;
    width: 100%;
  }
  .comment__other-func-act img {
    width: 25px;
  }
  .comment__other-func-act {
    gap: 5px;
    font-size: 15px;
  }
  .comment__other-func-act:last-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.comment__reply {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.comment__reply-user {
  width: 85%;
  margin-top: 50px;
}
.comment__reply img {
  height: fit-content;
  align-self: flex-start;
}

.comment__reply-names {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment__reply-names p {
  color: var(--dark-grey-color);
}

/* select option */

.comment__dropdown {
  width: 229px;
  position: relative;
}

.comment__select {
  background: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 10px;
  box-shadow: 0 0 2 2 var(--dark-grey-color);
  cursor: pointer;
}

.comment__selected {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grey-color);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--dark-grey-color);
}

.arrow {
  transition: 0.3s;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.comment__menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: white;
  box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.comment__menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.comment__menu li:hover {
  background: var(--container-color);
}

.active {
  background: var(--grey-active-color);
}

.active::before {
  content: "\e876";
  font-family: "Material Symbols Outlined", sans-serif;
  color: black;
}

.comment__menu-open {
  display: block;
  opacity: 1;
}

@media (max-width: 320px) {
  .comment__dropdown {
    width: 140px;
  }
  .comment__menu {
    font-size: 14px;
  }
  .comment__selected {
    font-size: 14px;
  }
}
